.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  width: 100%;
}

.content {
  display: flex;
}

.sidebar {
  margin-top: 8px;
  background-color: rgb(17 24 39);
  /* Adjust the width as needed */
}

.main {
  width: 100%;
  /* Add padding if necessary */
}

.footer {
  width: 100%;
  text-align: center; /* Center align the footer content */
  /* Add padding if necessary */
}

/* @media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    order: 2;

  }

  .content {
    height: calc(100vh - 50px); /* Adjust height considering the Navbar height */
/* }
} */
/* @media (max-width: 639px) {
  .sidebar {
    position: fixed;
    width: 100%;
  }
  .content {
    order: 1;}

}
@media (max-width: 800px) {
  .searchContainer{
    flex-direction: column;
  }
}
@media (min-width:640px) and ( max-width: 700px) {
  .search{
    flex-direction: column;
    align-items: start;
  }
  .searchButton {
    margin-left: 20px;
  }
  .input {
    margin-bottom: 0;
  }
}

@media (max-width: 420px) {
  .search {
    flex-direction: column;
    align-items: start;
  }
  .searchButton {
    margin-left: 20px;
  }
  .input {
    margin-bottom: 0;
  }
} */

.searchContainer {
  display: flex;
  justify-content: space-between;
}
.contentContainer {
  margin-top: 8px;
  margin-left: 8px;
  background-color: rgb(17 24 39);
}

.addContainer {
  margin-left: 8px;
  margin-top: 8px;
  padding: 10px 20px;
  background-color: rgb(17 24 39);
}
.imageContainer {
  flex: 1;
}

.detailContainer {
  border-radius: 5px;
  background-color: rgb(17 24 39);
  display: flex;
}
.detailImage {
  flex: 1;
}
.userDetail {
  flex: 2;
}
.customToast {
  background-color: unset;
}
.customToastBody {
  background-color: unset;
}
