.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  width: 100%;
}

.content {
  display: flex;
  flex: 1; /* Make content section flex to take remaining space */
}

.sidebar {
  width: 250px; /* Initial width of sidebar */
  flex: 0 0 250px; /* Sidebar doesn't grow or shrink */
  /* Adjust margin and padding as needed */
  background-color: rgb(17 24 39);
}

.main {
  flex: 1; /* Main content takes remaining space */
  /* Add padding or adjust width as necessary */
}




.searchContainer {
  display: flex;
  justify-content: space-between;
}
.contentContainer {
  margin-left: 8px;
  margin-top: 8px;

  background-color: rgb(17 24 39);
}

.addContainer {
  margin-left: 8px;
  margin-top: 8px;
  padding: 10px 20px;
  background-color: rgb(17 24 39);
}
.imageContainer {
  flex: 1;
}

.detailContainer {
  border-radius: 5px;
  background-color: rgb(17 24 39);
  display: flex;
}
.detailImage {
  flex: 1;
}
.userDetail {
  flex: 2;
}
.customToast {
  background-color: unset;
}
.customToastBody {
  background-color: unset;
}



/* Media Queries for responsiveness */

@media (max-width: 930px) {
  .content {
    flex-direction: column; /* Stack sidebar on top of main content on smaller screens */
  }
  
  .sidebar {
    width: 0px;
    /* Full width sidebar on smaller screens */
    flex: 0 0 auto; /*Allow sidebar to shrink or grow as needed*/
    /* Adjust other styles as necessary */
  }
  
  .main {
    position: absolute;
    width: 100%; /* Full width main content on smaller screens */
    /* Adjust other styles as necessary */
    
  }
  .contentContainer{
    margin-left: 0px;
  }
}

@media (max-width: 510px) {
  .searchContainer{
    flex-direction: column;
  }
}

@media (max-width: 400px) { 
  .search {
    flex-direction: column;
    align-items: start;
  }
  .searchButton {
    margin-left: 20px;
  }
  .input{
    margin-bottom: 5px;
  }
  .pagination {
    margin: 10px 15px;
  }
}

@media (max-width: 1200px) { 
  .adsSetting {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .firstColumn {
    margin-right: 0;
    margin-left: 110px;
  }
  .secondColumn {
    margin-left: 0;
    margin-left: 110px;
  }
  .firstColumn input {
    width: 70%;
  }
  .secondColumn select{
    width: 70%;

  }
  .secondColumn input {
    width: 70%;
  }
  .firstColumn select{
    width: 70%;

  }
}